<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="card-container">
    <app-tools></app-tools>
    <mat-card *ngFor="let note of notes">
        <mat-card-header>
            {{note.title}}
        </mat-card-header>

        <mat-card-content>
            {{note.description}}
        </mat-card-content>
        <mat-card-footer>
            <div class="comands">
                <button class="btn" [routerLink]="['app-edit-note',note.id]"><i class="fa fa-edit"></i></button>
                <button class="btn" (click)="getId(note.id)"><i class="fa fa-trash"></i></button>
            </div>
        </mat-card-footer>

    </mat-card>
</div>